.card {
  @apply bg-white rounded shadow mx-2 my-1 flex flex-col relative;
  width: 280px;
  transition: box-shadow .1s ease-in-out, background .1s linear;
}

.card:hover, .card:active, .card:focus {
  @apply shadow-md;
}

.group {
  @apply truncate px-1
}

.title {
  @apply font-bold px-2 inline-block text-sm text-gray-800;
  width: 90px
}

.header {
  @apply bg-gray-50 block w-full px-2 pt-0.5 mb-1 shadow-sm rounded-t flex flex-row justify-between;
  --stop1: transparent;
  --stop2: transparent;
  --stop3: transparent;
  --stop4: transparent;
  /* linear-gradient(75deg, ${color} 0%, ${color} 5%, ${end} 40%, rgba(0,0,0,0) 100%) */
  background: linear-gradient(75deg, var(--stop1) 0%, var(--stop2) 40%, var(--stop3) 70%, var(--stop4) 100%);
}

.tenant {
  @apply truncate;
}

.expiry {
  @apply text-sm flex-shrink-0;
}

.card:hover .header,
.card:active .header,
.card:focus .header {
  @apply bg-gray-100;
}

.warn {
  @apply text-yellow-300;
}

.critical {
  @apply text-yellow-500;
}

.actions {
  @apply opacity-0 flex flex-row justify-end px-1 absolute bottom-0 w-full;
  pointer-events: none;
  transition: opacity .1s linear;
}

.card:hover .actions,
.card:active .actions,
.card:focus .actions {
  @apply opacity-100;
  pointer-events: all;
}

.icon {
  @apply pr-1;
}
